body {
    align-items: center;
}

#content {
    display: inline-block;
    border: 2px solid black;
    width: 24%;
}

#canvas {
    border: 2px solid black;
    display: inline-block;
    width: 50%;
}

#properties {
    display: inline-block;
    border: 2px solid black;
    width: 24%;
}

.property {
    display: block;
}

.property > input {
    display: inline-block;
    width: 75%;
    height: 20px;
}

.property > label {
    display: inline-block;
    width: 20%;
    height: 20px;
}
